<a href="https://colab.research.google.com/github/PriyanshuKaushikgk/python-question/blob/main/python_revision1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
salary = 100000
print(type(salary))

<class 'int'>

In [ ]:
salary = "100000"
print(type(salary))

<class 'str'>

In [ ]:
company = "regex"
print("My company is",company)

My company is regex

In [ ]:
company  = "regex"
print(f"my company is {company}")

my company is regex

In [ ]:
name = "Priyanshu"
age = 21
print("My name is {} and i am {} years old".format(name,age))

My name is Priyanshu and i am 21 years old

In [ ]:
# multi line string
address = ''' b35 basant bahar
gopalpura'''
print(address)

 b35 basant bahar
gopalpura

In [ ]:
#  operators
#  symbol = task/functionality
# Arthmetic
# logical
# comparison
# bitwise
# membership
# identity
# Assignment

11/2
11//2

5

In [ ]:
11%2

1

In [ ]:
3*2

6

In [ ]:
3**4

81

In [ ]:
1.0+2

3.0

In [ ]:
20//2+9

19

In [ ]:
9+7-2*3/2-1

12.0

In [ ]:
# comparison operator / relational operator
# answer will be TRUE and False
# <,>,<=,>=,==,!=
x =10
10==x

True

In [ ]:
# assignment operator
x =500
x +=10
print(x)

510

In [ ]:
salary =1000
salary+=10
print(salary)

1010

In [ ]:
x= 10
x//2
print(x)

10

In [ ]:
y=10
y//=2
print(y)

5

In [ ]:
# logical operator
# and => both condition are true
age = 25
salary =25000
age>=25 and salary==25000

True

In [ ]:
# or => one condition  is true
age = 15
salary = 250000
age>20 or salary>250000

False

In [ ]:
x = 10
y=-5
salary =10000
(x>0 or y>0) and salary>5000

True

In [ ]:
# not operator
# not true
not True

False

In [ ]:
# membership operator => in, not in
fruits = ['apple','banana','cherry']
if 'banana' in fruits:
  print("yes")

yes

In [ ]:
'an' in "japan"

True

In [ ]:
'N' in "japan"
# case sensitive

False

In [ ]:
'aj' not in "japan"

True

In [ ]:
# bitwise operator =>8,4,2,1
9&11

9

In [ ]:
6&12

4

In [ ]:
19>>2
# number // 2**bit(right shift)
# number * 2**bit(left shift)
19 //2**2

4

In [ ]:
19>>1
# number // 2**bit(right shift)
# number * 2**bit(left shift)
19 //2**1

9

In [ ]:
22<<3

176

In [ ]:
9>>1

4

In [ ]:
x = 500

print(id(x))

137560552818192

In [ ]:
# Conditional statements
x = 17
if x>=18:
  print("Adult")
else:
  print("Mis match")

Mis match

In [ ]:
# conditional question practise
# Write a Python Program to find maximum between two numbers.
num1= float(input("Enter the number 1:"))
num2 = float(input("Enter the number 2:"))
if num1>num2:
  print(f"The maximum number is {num1}")
elif(num1<num2):
  print(f"the maximum number is {num2}")
else:
  print("Input mismatch")

Enter the number 1:5
Enter the number 2:15
the maximum number is 15

In [ ]:
# Write a Python Program to find maximum between Four numbers.
num1 = float(input("Enter the num1"))
num2 = float(input("Enter the num2"))
num3 = float(input("Enter the num3"))
num4 = float(input("Enter the num4"))
if num1> num2 and num1>num3 and num1>num4:
  print(f"num1 is greater then other.{num1}")
elif(num2> num1 and num2>num3 and num2>num4):
  print(f"num2 is greater then other {num2}")
elif(num3>num1 and num3>num2 and num3>num4):
  print(f"num3 is greater then other {num3}")
elif(num4>num1 and num4>num2 and num4> num3 ):
  print(f"num4 is greater then other , {num4}")

Enter the num12
Enter the num24
Enter the num33
Enter the num46
num4 is greater then other , 6.0

In [ ]:
# Write a Python Program to check whether a number is negative, positive or zero.
num = int(input("Enter the number :"))
if num==0:
  print(f"The number is zero {num}")
elif num<0:
  print(f"The number is negative: {num}")
elif num>0:
  print(f"The number is positive: {num}")
else:
  print("Input mismatch")

Enter the number :-1
The number is negative -1

In [ ]:
# Write a Python Program to check whether a number is divisible by 5 and 11 or not.
num  = int(input("Enter the number:"))
if num%5==0 and num%11==0:
  print(f"The number is divisible by both 5 and 11. {num}")
else:
  print("Invalid input")

Enter the number:110
The number is divisible by both 5 and 11. 110

In [ ]:
# Write a Python Program to check whether a number is even or odd.
num = int(input("Enter the number:"))
if num%2 ==0:
  print(f"the {num} is even")
elif num%2!=0:
  print(f"the {num } is odd")
else:
  print("Invalid input please try again")

Enter the number:14
the 14 is even

In [ ]:
# Write a Python Program to check whether a year is leap year or not.
num  = int(input("Enter the year:"))
if num%4==0 :
  print(f"The {num } is leap year")
else:
  print(f"{num} Not leap year ")

Enter the year:2024
The 2024 is leap year

In [ ]:
# Write a Python Program to check whether a character is alphabet or not.
char = input("Enter the character:")
if len(char)==1:
  if char.isalpha():
    print(f"The character is  {char} is alphbet")
  else:
    print(f"The character is {char} is not alphabet")
else:
  print("plz enter the single character")

KeyboardInterrupt: Interrupted by user

In [ ]:
# Write a Python Program to input any alphabet and check whether it is vowel or consonant.
char =input("Enter the character:")
if len(char)==1 and char.isalpha():
  char = char.lower()
  if char in 'aeiou':
    print(f"The character is '{char}' is vowel ")
  else:
    print(f"The character is '{char }' is consonant")
else:
  print("plz enter the single input")

Enter the character:yu
plz enter the single input

In [ ]:
# Write a Python Program to input any character and check whether it is alphabet, digit or special character.
char =input("enter the character:")
if len(char)==1:
  if char in 'abcdefghijklmnopqrstuvwxyz':
    print(f"The character is {char} alphabetic")
  elif char in "0123456789":
    print(f"The character is {char} is digit")
  else:
    print(f"The character is {char} is  a special character")
else:
  print("Plz enter the single character")

enter the character:$
The character is $ is special character

In [ ]:
# Write a Python Program to input any character and check whether it is alphabet, digit or special character.
char  = input("Enter the character:")
if len(char)==1:
  if char.isalpha():
    print(f"The character is {char} is alphabetic")
  elif char.isdigit():
    print(f"The character is {char} is digit")
  else:
    print(f"The character is {char } is special character")

else:
  print("plz enter only single character")

Enter the character:as
plz enter only single character

In [ ]:
# Write a Python Program to check whether a character is uppercase or lowercase alphabet.
char = input("Enter the character:")
if len(char)==1 and char.isalpha():
  if char.isupper():
    print(f"The character is '{char}' is an uppercase alphabet")
  elif char.islower():
    print(f"The character is '{char}' is an lowercase alphabet ")
else:
  print("Invalid input")

Enter the character:a
The character is 'a' is an lowercase alphabet

In [ ]:
# Write a Python Program to input week number and print week day.
num = int(input("Enter the number:"))
if num == 1:
  print("Sunday")
elif num == 2:
  print("Monday")
elif num == 3:
  print("Tuesday")
elif num == 4:
  print("Wednesday")
elif num == 5:
  print("Thrusday")
elif num == 6:
  print("Friday")
elif num == 7:
  print("Saturday")
else:
  print("Invalid input")

Enter the number:5
Thrusday

In [ ]:
# Write a Python Program to input week number and print week day.
def get_weekday(weekNumber):
  weekdays = {
      1:'sunday',
      2:'monday',
      3:'tuesday',
      4:'wednesday',
      5:'thursday',
      6:'Friday',
      7:'saturday'
  }

In [ ]:
# loops (for , while)
# for => number of iteration/repetations are decided
# for vairable in range(start,last,step size)
# stopping is excluded
for x in range(10,16):
  print("Hello",x)

Hello 10
Hello 11
Hello 12
Hello 13
Hello 14
Hello 15

In [ ]:
for i in range(10,16):
  print("Hello",i)

Hello 10
Hello 11
Hello 12
Hello 13
Hello 14
Hello 15

In [ ]:
# with step size
for i in range(10,16,2):
  print("Hello",i)

Hello 10
Hello 12
Hello 14

In [ ]:
# reverse step size
for i in range(16,10,-1):
  print("Hello",i)

Hello 16
Hello 15
Hello 14
Hello 13
Hello 12
Hello 11

In [ ]:
for i in range(16,10,-2):
  print("Hello",i)

Hello 16
Hello 14
Hello 12

In [ ]:
total  = 0
for x in range(2,10):
  total = total+x
  print(x,total)

2 2
3 5
4 9
5 14
6 20
7 27
8 35
9 44

In [ ]:
product = 1
for x in range(18,51):
  product = product*x
  print(x,product)

18 18
19 342
20 6840
21 143640
22 3160080
23 72681840
24 1744364160
25 43609104000
26 1133836704000
27 30613591008000
28 857180548224000
29 24858235898496000
30 745747076954880000
31 23118159385601280000
32 739781100339240960000
33 24412776311194951680000
34 830034394580628357120000
35 29051203810321992499200000
36 1045843337171591729971200000
37 38696203475348894008934400000
38 1470455732063257972339507200000
39 57347773550467060921240780800000
40 2293910942018682436849631232000000
41 94050348622765979910834880512000000
42 3950114642156171156255064981504000000
43 169854929612715359718967794204672000000
44 7473616902959475827634582945005568000000
45 336312760633176412243556232525250560000000
46 15470386989126114963203586696161525760000000
47 727108188488927403270568574719591710720000000
48 34901193047468515356987291586540402114560000000
49 1710158459325957252492377287740479703613440000000
50 85507922966297862624618864387023985180672000000000

In [ ]:
# 2 to 21 odd and even
even_numbers = []

for num in range(2, 22):
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        pass

# Print the stored even numbers
print("Even numbers from 2 to 21:", even_numbers)

Even numbers from 2 to 21: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# loops question practise
# 1. Write a program to print all natural numbers from 1 to n. – using while loop
num = int(input("Enter the natural number :"))
i = 1
while i<=num:
  print(i,end=" ")
  i+=1

Enter the natural number :10
1 2 3 4 5 6 7 8 9 10

In [ ]:
# 2. Write a program to print all natural numbers in reverse (from n to 1). – using while loop
num = int(input("Enter the number : "))
i = num
while i>=1:
  print(i,end=" ")
  i-=1

Enter the number : 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(21,1,-1):
  print(i,end=" ")

21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2

In [ ]:
# 3. Write a program to print all alphabets from a to z. – using while loop with append in list
char = []
i = ord('A')
print("A to Z characters")
while(i<=ord('Z')):
  print(chr(i),end=" ")
  char.append(chr(i))
  i+=1
print("\nstored in list:",char)

A to Z characters
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
stored in list: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
# Write a program to print all even numbers between 1 to 100. – using while loop
i = 2
while (i<=100):
  print(i,end=" ")
  i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# 5. Write a program to find the sum of all odd numbers between 1 to n.
n =  int(input("Enter the number:"))
total =0
i = 1
while(i<=n):
  total  = total+i
  i+=2
print(total)

Enter the number:10
25

In [1]:
# 6. Write a program to sum of all even number by user input

n = int(input("Enter the number :"))
total  = 0
i = 0
while(i<=n):
  total  = total+i
  i+=2
print(total)

Enter the number :10
30

In [6]:
# 6. Write a program to count the number of digits in a number.
n = int(input("Enter the number:"))
count = 0
while n!=0:
  n = n//10
  count+=1

print(count)

Enter the number:7974561321648
13

In [8]:
# 7. Write a program to calculate the sum of digits of a number.
n = int(input("Enter the number :"))
sum = 0
while n!=0:
  sum += n%10
  n  = n//10
print(sum)

Enter the number :12345
15

In [7]:
# 8. Write a program to find the first and last digit of a number.