<a href="https://colab.research.google.com/github/PriyanshuKaushikgk/python-question/blob/main/Python_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for row in range(1,6):
  for col in range(1,row+1):
    print("*",end = "")
  print("\n")

*

**

***

****

*****

In [ ]:
for row in range(5,0,-1):
  for col in range(1,row+1):
    print("*",end="")
  print("\n")

*****

****

***

**

*

In [ ]:
for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end = "")
  for j in range(1 ,i+1):
      print("*",end = "")
  print("\n")

    *

   **

  ***

 ****

*****

In [ ]:
for i in range(5,0,-1):
  for k in range(1,6-i):
    print(" ",end = "")
  for j in range(1,i+1):
    print("*",end= "")
  print("\n")

*****

 ****

  ***

   **

    *

In [ ]:
for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,(2*i-1)+1):
    print("*",end = "")
  print("\n")

    *

   ***

  *****

 *******

*********

In [ ]:
for i in range(5,0,-1):
  for k in range(1,6-i):
    print(" ",end = "")
  for j in range(1,(2*i-1)+1):
    print("*",end = "")
  print("\n")

*********

 *******

  *****

   ***

    *

In [2]:
n = int(input("Enter the number of rows:"))
for i in range(n):
  for j in range(i+1):
    print(j+1,end = " ")
  print()

Enter the number of rows:25
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25